@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
  --primary: #FD2D01 !important;
  --primary-hover: #fe5634 !important;
  --secondary: #FFD7D7 !important;
  --secondary-hover: #ffe6e6 !important;
  --groupo-red: #d1515a !important;
  --groupo-red-hover: #da7279 !important;
  --bg-color: #ededf0;
  --tertiary: #4E5166 !important;
  --tertiary-hover: #646782 !important;
  --color-main: black !important;
}
html, body {
  background-color: var(--bg-color);
}
* {
  font-family: 'Lato', sans-serif !important;
  color: var(--color-main);
}
article {
	margin: 1rem auto !important;
  padding: 1rem 2rem;
}
p {
  margin: 0;
  color: var(--color-main);
}
.reset-button-container {
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.reset-button {
  width: 4rem;
  background-color: var(--tertiary);
  padding: .2rem;
  transition: all .2s linear;
}
.reset-button:hover {
  background-color: var(--tertiary-hover);
}
input[type='file'] {
  color: 'black' !important;
}